{% extends 'ghfd/base.html' %}
{% load staticfiles %}

{% block title_block %}
    cart
{% endblock %}

{% block body_block %}
<h1>My Cart</h1>

<body>

    <font color="red"><b>All the food</b></font>
    <table border="2" cellpadding="0" cellspacing="0">
        <tr>
            <th>Food</th>
            <th>Restaurant</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Total price</th>
            <th>Operation</th>
        </tr>

        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td><a href="{% url 'ghfd:menu' item.product.restaurant_id.slug %}">{{ item.product.restaurant_id }}</a></td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
            <td><a href="{% url "ghfd:remove_from_cart" item.product.id %}">Delete</a></td>
        </tr>
        {% endfor %}

        <!-- {volist name="data" id="v"} -->
{#        <tr>#}
{#            <td><input type="checkbox" name="check" class="check" value="{$v.sid}"></td>#}
{#            <td><img src="" alt="food picture" width="100" height="100"></td>#}
{#            <td>#}
{#                <span>id：</span><br>#}
{#               #}
{#            </td>#}
{#            <td>food</td>#}
{#            #}
{#            <td>#}
{#                <input type="button" value="-" class="jian">#}
{#                <span class="num">1</span>#}
{#                <input type="button" value="+" class="jia">#}
{#            </td>#}
{#            <td><span class="unit">10</span>pound</td>#}
{#            <td>#}
{#                <a href="#">delete</a>#}
{#            </td>#}
{#        </tr>#}
        <!-- {/volist} -->
    </table>
    
    </script>
    </body>
    

{% endblock %}