{% extends 'ghfd/base.html' %}
{% load staticfiles %}

{% block title_block %}
    how to use
{% endblock %}

{% block body_block %}
<h1> How to use</h1>
<body>
    First, you need to register an account.

    Then enter the interface, select the menu you need in the menu interface of ordering, and click OK.
    
    Pay your money, then click pay.
    
    After everything is completed, we will receive your order and send it to you as soon as possible.
    
    Have a nice meal.

</body>
{% endblock %}