{% extends 'ghfd/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My account
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">My account</h1>
    </div>
</div>
<body>
    

    <table style="border: 1px;margin: 0 auto;background: snow" width="50%" cellpadding="5" cellspacing="0" >
    
    <tr>
    
        <td>name:</td>
    
        <td>Emily</td>
    <tr>
        <td>sex:</td>
        <td> woman
    </tr>
    </td>
    </tr>
    <tr>
        <td>telephone:</td>
    
        <td>66668888</td>
    <tr>
        <td>email:</td>
    
        <td>666@gla.ac.uk</td>
    </tr>
    <tr>
        <td>address:</td>
        
        <td>G3 8RY</td>
        </tr>
    </tr>
    
  
    
    <td colspan="4" align="right">
    
    
    </td>
 
    </tr>
    
    </table>


</body>



{% endblock %}