{% extends 'ghfd/base.html' %}

{% block title_block %}
    restaurants
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Restaurant List</h1>
        </div>
    </div>
    <div>
        {% if restaurants %}
            <ul>
            {% for restaurant in restaurants %}
                <li>
                    <a href="{% url 'ghfd:show_restaurant' restaurant.slug %}">
                        <h2>{{ restaurant.name }}</h2>
                    </a>
                    Description: {{ restaurant.description }}<br />
                    Rating: {{ restaurant.average_rating }}<br />
                    Views: {{ restaurant.views }}<br />
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no restaurants present.</strong>
        {% endif %}
        </div>

{% endblock %}